.Home{
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    display: flex;
}
.Home .LeftBar{
    padding-top: 50px;
    height: 100%;
    scrollbar-width:none ;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* Chrome, Edge, Safari */
.Home .LeftBar::-webkit-scrollbar {
  display: none;
}

.LeftBar .Unactive{
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.Unactive .IconBtn p{
    font-size: 13px;
    color: gainsboro;
}
.LeftBar .Active{
    /* scroll-snap-type:proximity; */
    /* scrollbar-width:none ; */
    display: flex;
    flex-direction: column;
    /* display: none; */
    /* gap: 10px; */
    width: 200px;
    /* margin-bottom: 5px; */
}
.Active .IconBtn img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.Active .IconBtn{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.Active .IconBtn:hover{
    transition: 0.3s;
    background: rgba(48, 46, 46, 0.5);
}
.Active .ActiveColor{

    background: rgba(48, 46, 46, 0.5);
}

.Active .IconBtn h6{
    margin: 0;
}
.Home .ContentBox{
    margin-left: 20px;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ContentBox .CARD{
    display: block;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}
.CARD .media .thumbnail,
.CARD .media iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.CARD .media iframe {
    display: none;
}

/* Hover ചെയ്യുമ്പോൾ thumbnail hide */
.CARD .media:hover .thumbnail {
    display: none;
}

/* Hover ചെയ്യുമ്പോൾ iframe show */
.CARD .media:hover iframe {
    display: block;
}
.BottomDetails{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.BottomDetails .channelProfile img{
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    border-radius: 50%;
}

.ChannelDetails .description{
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}
.ChannelDetails .channelName{
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.479);
}

.ChannelDetails .ViewAndPost{
    display: flex;
    gap: 10px;
}

.ChannelDetails .ViewAndPost p{
    font-weight: 300;
font-size: 13px;
}

@media (max-width: 575.98px) {
    .LeftBar .Unactive{
        display: none;
        width: 0px;
    }
    .Home .LeftBar{
        background-color: black;
        position: absolute;
        left: 0;
        top: 50px;
    }
    .Home .ContentBox{
        width: 100%;
        margin-left: 0;
    }
}