.Short {
      display: flex;
    gap: 10px;
    align-items: center;
    height: 100dvh;
    padding-top: 50px;
    justify-content: center;
}

.ShortContent {
  width: 100%;
}

.ShortContent .leftBox {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

.leftBox .shorts-container {
  height: 90dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  padding-bottom: 20px;
}

.short {
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
  overflow: hidden;
  position: relative;
}

.short video {
  max-width: 350px;
  object-fit: cover;
  height: 100%;
}
.short .Channel{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  gap: 10px;
}
.Channel .ChannelImage{
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.Channel .ChannelName{
  font-size: 17px;
  font-weight: 300;
}

.Channel .ChannelImage img{
  width: 100%;
  height: 100%;
}
.ShortContent .rightBox{
  /* padding-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-bottom: 20px;
}
.rightBox .UserIntraction {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rightBox .UserIntraction .BTN{

  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserIntraction .CircleAvathar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(89, 88, 87, 0.757);
  display: flex;
  align-items: center;
  justify-content: center;
}
.BTN .Title{
  font-size: 16px;
  font-weight: 300;
}
.BTN .ChannelImage{
  height: 45px;
  width: 40px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 575.98px) {
    .short video{
         max-width: 100%;
        /* margin-left: 0; */
    }
    .UserIntraction{
      position: absolute;
      right: 20px;
      bottom: 50px;
    }
}

